/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.offer-wrapper .offer-item {
  border-radius: 20px;
  background-color: #f0f4fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  margin-bottom: 20px;
}

.offer-wrapper .offer-item:last-child {
  margin-bottom: 0;
}

.offer-wrapper .offer-item .offer-header {
  width: 140px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 0;
}

.offer-wrapper .offer-item .offer-header .title {
  font-weight: 500;
  margin: 0;
}

.offer-wrapper .offer-item .offer-header span {
  font-size: 16px;
  display: inline-block;
  padding: 0 10px;
  color: #ffffff;
  background: #1554c2;
  text-transform: uppercase;
  position: relative;
  border-radius: 22px;
  height: 44px;
  line-height: 42px;
}

.offer-wrapper .offer-item .offer-header span b {
  position: relative;
  z-index: 1;
  font-weight: 500;
}

.offer-wrapper .offer-item .offer-header span::after {
  width: 143px;
  z-index: 0;
  height: 44px;
  background: url("../img/icons/offer-shape.png") no-repeat center center;
}

.offer-wrapper .offer-item .offer-footer {
  width: 220px;
  padding: 20px 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.offer-wrapper .offer-item .offer-footer::after {
  width: 0;
  height: calc(100% + 200px);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-left: 2px dashed #b8c7ea;
}

.offer-wrapper .offer-item .offer-body {
  padding: 20px 40px 13px 0;
  width: calc(100% - 220px - 140px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-wrapper .offer-item .offer-body .item {
  text-align: center;
}

.offer-wrapper .offer-item .offer-body .item .item-thumb {
  height: 50px;
  margin: 0 auto 8px;
}

.offer-wrapper .offer-item .offer-body .item.first .item-thumb img {
  width: auto;
}

.offer-wrapper .offer-item .offer-body .item .item-thumb img {
  max-height: 100%;
  width: 44px;
}

.offer-wrapper .offer-item .offer-body .item .item-content .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.offer-wrapper .offer-item .offer-body .item .item-content .subtitle {
  font-weight: 500;
  color: #324fb0;
  font-size: 18px;
  margin-bottom: 6px;
}

.offer-wrapper .offer-item .offer-body .item .item-content .subtitle .to {
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  margin: 0 5px;
  color: #33406a;
}

.offer-wrapper .offer-item .offer-body .bal-shape {
  position: relative;
  display: block;
  width: 60px;
  height: 2px;
  background-color: #324fb0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.offer-wrapper .offer-item .offer-body .bal-shape::after, .offer-wrapper .offer-item .offer-body .bal-shape::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #324fb0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.offer-wrapper .offer-item .offer-body .bal-shape::after {
  left: 0;
}

.offer-wrapper .offer-item .offer-body .bal-shape::before {
  right: 0;
}

.offer-wrapper .offer-item::after, .offer-wrapper .offer-item::before {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
}

.offer-wrapper .offer-item::after {
  top: 0;
  -webkit-transform: rotate(45deg) translate(-4px, -27px);
  transform: rotate(45deg) translate(-4px, -27px);
  right: 220px;
}

.offer-wrapper .offer-item::before {
  right: 220px;
  -webkit-transform: rotate(45deg) translate(27px, 4px);
  transform: rotate(45deg) translate(27px, 4px);
  bottom: 0;
  z-index: 1;
}

.offer-wrapper .offer-item .offer-footer::after, .offer-wrapper .offer-item .offer-body .bal-shape::after, .offer-wrapper .offer-item .offer-body .bal-shape::before, .offer-wrapper .offer-item::after, .offer-wrapper .offer-item::before {
  position: absolute;
  content: '';
}

.offer-wrapper .offer-item .offer-header, .offer-wrapper .offer-item .offer-footer, .offer-wrapper .offer-item .offer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer-wrapper .offer-item .offer-header span::after {
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  content: "";
}

@media (max-width: 1199px) {
  .offer-wrapper .offer-item .offer-header {
    width: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .offer-wrapper .offer-item .offer-header .title {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer-wrapper .offer-item .offer-header span {
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
  }
  .offer-wrapper .offer-item .offer-header span::after {
    display: none;
  }
  .offer-wrapper .offer-item .offer-body {
    width: calc(100% - 200px - 220px);
  }
}

@media (max-width: 1199px) and (max-width: 991px) {
  .offer-wrapper .offer-item .offer-header {
    width: 150px;
  }
  .offer-wrapper .offer-item .offer-body {
    width: calc(100% - 200px - 150px);
    padding-left: 0;
    padding-right: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .offer-wrapper .offer-item .offer-body .bal-shape {
    display: none;
  }
}

@media (max-width: 1199px) and (max-width: 991px) and (min-width: 768px) {
  .offer-wrapper .offer-item .offer-body .item {
    max-width: 50%;
  }
}

@media (max-width: 1199px) and (max-width: 991px) {
  .offer-wrapper .offer-item .offer-body .item .item-content .title {
    font-size: 20px;
  }
  .offer-wrapper .offer-item .offer-body .item .item-content .subtitle {
    font-size: 20px;
  }
}

@media (max-width: 1199px) and (max-width: 991px) and (max-width: 767px) and (min-width: 576px) {
  .offer-wrapper .offer-item .offer-body .item.first {
    margin-bottom: 20px;
  }
}

@media (max-width: 1199px) and (max-width: 991px) {
  .offer-wrapper .offer-item .offer-footer {
    width: 200px;
  }
  .offer-wrapper .offer-item .offer-footer .custom-button {
    font-size: 14px;
  }
  .offer-wrapper .offer-item::after, .offer-wrapper .offer-item::before {
    right: 200px;
  }
}

@media (max-width: 1199px) and (max-width: 575px) {
  .offer-wrapper .offer-item::after, .offer-wrapper .offer-item::before {
    display: none;
  }
  .offer-wrapper .offer-item .offer-header {
    width: 100%;
  }
  .offer-wrapper .offer-item .offer-body {
    width: 100%;
    padding-top: 13px;
  }
  .offer-wrapper .offer-item .offer-footer {
    width: 100%;
  }
  .offer-wrapper .offer-item .offer-footer::after {
    display: none;
  }
}

.offer-wrapper .offer-item:hover .bal-shape {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.offer-wrapper .custom-button {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 50px;
  background: -webkit-linear-gradient(-103deg, #ef774c 0%, #ed684f 35%, #e84351 76%, #e73351 100%);
  padding: 0 35px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(132, 141, 156, 0.3);
          box-shadow: 0px 10px 10px 0px rgba(132, 141, 156, 0.3);
  border-radius: 25px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.offer-wrapper .custom-button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.rates_box h3 {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.rates_box p {
  font-size: 14px;
  color: #888;
  margin-top: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.rates_box .rates_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 36px 0 30px;
}

.rates_box .rates_container .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%/5);
}

.rates_box .rates_container .rate span:nth-child(1) {
  font-size: 54px;
  font-weight: 600;
  color: #1554c2;
  line-height: 46px;
  margin-bottom: 10px;
}

.rates_box .rates_container .rate span:nth-child(2) {
  font-size: 15px;
  font-weight: 500;
  color: #42526e;
}

.register-btn {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 12px !important;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 33px;
  padding: 0 20px;
  min-width: 100px;
  color: #fff !important;
  background: -webkit-gradient(linear, left top, right top, from(#ef774c), color-stop(35%, #ed684f), color-stop(76%, #e84351), to(#e73351));
  background: linear-gradient(to right, #ef774c 0%, #ed684f 35%, #e84351 76%, #e73351 100%);
  height: 35px;
  border-radius: 5px;
  border: 1px solid #fff;
  letter-spacing: 1px;
}

.register-btn:hover, .register-btn :focus {
  color: #fff;
  background: #ef774c;
  border-color: #ef774c;
}

.calculate-wrapper {
  position: relative;
  z-index: 9;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .calculate-wrapper {
    margin-top: 45px;
  }
}

.calculate-wrapper::after, .calculate-wrapper::before {
  border-radius: 15px;
  background-color: rgba(201, 218, 255, 0.502);
  -webkit-box-shadow: 0px 16px 10px 0px rgba(112, 120, 146, 0.1);
          box-shadow: 0px 16px 10px 0px rgba(112, 120, 146, 0.1);
  height: 100%;
  z-index: -1;
}

.calculate-wrapper::after {
  width: calc(100% - 80px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -40px;
}

.calculate-wrapper::before {
  width: calc(100% - 40px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -20px;
}

.calculate-wrapper .calculate--area {
  background: #f8faff;
  padding: 40px 40px 50px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(112, 120, 146, 0.1);
          box-shadow: 0px 6px 10px 0px rgba(112, 120, 146, 0.1);
}

.calculate-wrapper .calculate--area .custom-button {
  color: #ffffff;
  line-height: 50px;
  background: -webkit-linear-gradient(-103deg, #ef774c 0%, #ed684f 35%, #e84351 76%, #e73351 100%);
  padding: 0 35px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  margin: 24px auto 0;
  display: block;
  cursor: pointer;
  outline: none;
}

@media (max-width: 767px) {
  .calculate-wrapper .calculate--area {
    padding: 40px 30px;
  }
}

@media (max-width: 575px) {
  .calculate-wrapper .calculate--area {
    padding: 40px 20px;
  }
}

.calculate-wrapper .calculate-area {
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11px;
}

.calculate-wrapper .calculate-area .calculate-item {
  width: calc(50% - 50px);
  margin: 30px 0 46px;
}

.calculate-wrapper .calculate-area .calculate-item .title {
  text-transform: uppercase;
  margin-bottom: 26px;
  position: relative;
  color: #33406a;
  font-size: 24px;
  font-weight: 600;
}

.calculate-wrapper .calculate-area .calculate-item .title::before {
  content: attr(data-serial);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  font-size: 60px;
  font-weight: 400;
  color: rgba(51, 64, 106, 0.12);
}

@media (max-width: 991px) {
  .calculate-wrapper .calculate-area {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .calculate-wrapper .calculate-area .calculate-item {
    width: 50%;
    max-width: 280px;
  }
  .calculate-wrapper .calculate-area .calculate-item .title {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  .calculate-wrapper .calculate-area .calculate-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .calculate-wrapper .calculate-area .calculate-item .title {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) and (max-width: 575px) {
  .calculate-wrapper .calculate-area .calculate-item .title::before {
    font-size: 44px;
  }
}

/*Range Slider Starts Here*/
.invest-range-area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.invest-range-area .invest-amount {
  width: 100%;
  position: relative;
}

@media (max-width: 575px) {
  .invest-range-area .invest-amount {
    width: 100%;
    margin-bottom: 60px;
  }
}

.invest-range-area .invest-amount .invest-range-slider {
  background: #dee7fc;
  border: none;
  height: 10px;
  border-radius: 5px;
}

.invest-range-area .invest-amount .ui-slider-range-min {
  background: #8fadf6;
}

.invest-range-area .invest-amount .ui-state-default {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  background: -webkit-linear-gradient(-103deg, #ef774c 0%, #ed684f 35%, #e84351 76%, #e73351 100%);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 575px) {
  .invest-range-area .invest-amount .ui-state-default {
    height: 25px;
    width: 25px;
  }
}

.invest-range-area .invest-amount::after, .invest-range-area .invest-amount::before {
  position: absolute;
  top: 20px;
  color: #526288;
  font-size: 14px;
  font-weight: 500;
}

.invest-range-area .invest-amount::before {
  left: 0;
  content: attr(data-min);
}

.invest-range-area .invest-amount::after {
  right: 0;
  content: attr(data-max);
}

.invest-range-area .custom-button {
  width: 160px;
  outline: none;
}

.invest-range-area .main-amount {
  width: 100%;
  margin-bottom: 16px;
}

.invest-range-area .main-amount input {
  background: transparent;
  border: none;
  height: 20px;
  color: #33406a;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  padding: 0;
  line-height: 1.15;
  width: 100%;
  outline: none;
  overflow: visible;
}

@media (max-width: 575px) {
  .invest-range-area .main-amount input {
    height: 50px;
  }
}

.calculate-wrapper .calculate-area, .calculate-wrapper .calculate-area .calculate-item .tab-menu, .calculate-wrapper .profit-calc, .invest-range-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.toggleSwitch span span {
  display: none;
}

.toggleSwitch {
  display: inline-block;
  position: relative;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  width: 90px;
  height: 38px;
  margin-bottom: 0;
  margin-top: 20px;
}

.toggleSwitch * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toggleSwitch label,
.toggleSwitch > span {
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
}

.toggleSwitch input:focus ~ a,
.toggleSwitch input:focus + label {
  outline: none;
}

.toggleSwitch label {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
}

.toggleSwitch input {
  position: absolute;
  opacity: 0;
  z-index: 5;
}

.toggleSwitch > span {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  height: 38px;
  line-height: 38px;
}

.toggleSwitch > span span {
  position: absolute;
  z-index: 5;
  display: block;
  width: 50%;
  text-align: left;
  font-size: 18px;
  line-height: 42px;
  width: 100%;
  left: 14px;
  top: 0;
  opacity: 0;
}

.toggleSwitch a {
  position: absolute;
  right: 50%;
  z-index: 4;
  display: block;
  height: 34px;
  padding: 0;
  width: 34px;
  top: 2px;
  left: 2px;
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.toggleSwitch > span span:first-of-type {
  color: #ccc;
  opacity: 1;
  left: 0;
  text-align: right;
  padding-right: 12px;
}

.toggleSwitch > span:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.toggleSwitch input:checked ~ a {
  border-color: #fff;
  right: 1px;
  left: auto;
}

.toggleSwitch input:checked ~ span:before {
  border-color: #ed684f;
  -webkit-box-shadow: inset 0 0 0 30px #ed684f;
          box-shadow: inset 0 0 0 30px #ed684f;
}

.toggleSwitch input:checked ~ span span:first-of-type {
  opacity: 0;
}

.toggleSwitch input:checked ~ span span:last-of-type {
  opacity: 1;
  color: #fff;
}

/*  End Toggle Switch  */
.calculate-wrapper .calculate-area.design_two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42% 53%;
      grid-template-columns: 42% 53%;
  -webkit-column-gap: 4%;
          column-gap: 4%;
}

.calculate-wrapper .calculate-area.design_two h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.calculate-wrapper .calculate-area.design_two .input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculate-wrapper .calculate-area.design_two .input_box input {
  width: 90px;
  padding: 4px 6px 6px;
  border-bottom: 1px solid #b8c7ea;
  margin-right: 6px;
}

.calculate-wrapper .calculate-area.design_two .input_box span {
  font-weight: 500;
  color: #33406a;
}

.calculate-wrapper .calculate-area.design_two .invest-range-area {
  margin-bottom: 40px;
}

.calculate-wrapper .calculate-area.design_two .invest-range-area .invest-amount .invest-range-slider {
  height: 6px;
}

.calculate-wrapper .calculate-area.design_two .invest-range-area .invest-amount .ui-state-default {
  height: 24px;
  width: 24px;
}

.calculate-wrapper .calculate-area.design_two .invest-range-area .main-amount {
  width: 100%;
  margin-bottom: 12px;
}

.calculate-wrapper .calculate-area.design_two .citizen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 54px;
}

.calculate-wrapper .calculate-area.design_two .citizen h5 {
  margin-bottom: 0;
  margin-right: 40px;
}

.calculate-wrapper .calculate-area.design_two .citizen .toggleSwitch {
  margin-top: 0;
}

.calculate-wrapper .calculate-area.design_two .citizen .toggleSwitch > span span {
  font-size: 16px;
}

.calculate-wrapper .calculate-area.design_two .info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 10px;
}

.calculate-wrapper .calculate-area.design_two .info_container .info_box {
  width: 50%;
  margin-bottom: 20px;
}

.calculate-wrapper .calculate-area.design_two .info_container .info_box p:nth-child(1) {
  line-height: 14px;
  font-size: 14px;
  margin-bottom: 8px;
}

.calculate-wrapper .calculate-area.design_two .info_container .info_box p:nth-child(2) {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #526288;
  margin-bottom: 0;
}

.user_modal .close {
  font-size: 30px;
  font-weight: 400;
}

.user_modal .close:focus {
  outline: none;
}

.user_modal .modal-header {
  border-bottom: none;
}

.user_modal .group label {
  font-style: normal;
}

.hero-section-content {
  width: 100%;
}

.hero-section-content .welcome-content {
  margin-left: 60px;
  margin-top: 60px;
}

.hero-section-content .welcome-content p {
  font-size: 30px;
  margin-bottom: 24px;
  color: #fff;
  font-weight: 600;
}

.hero-section-content .welcome-content .rates_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0 36px;
  margin-left: -20px;
}

.hero-section-content .welcome-content .rates_container .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%/5);
  margin-right: 60px;
}

.hero-section-content .welcome-content .rates_container .rate span:nth-child(1) {
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
  line-height: 46px;
  margin-bottom: 8px;
}

.hero-section-content .welcome-content .rates_container .rate span:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  color: #d8d0d0;
}

.hero-section-content .welcome-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 54px;
}

.hero-section-content .welcome-content ul li {
  color: #fff;
  margin-bottom: 10px;
  padding-left: 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
  font-size: 17px;
}

.hero-section-content .welcome-content ul li svg {
  width: 18px;
  margin-right: 20px;
  fill: #fff;
}

.table {
  width: 100%;
  text-align: left;
  border-top: 1px solid var(--color-border-1);
  border-collapse: collapse;
  border-spacing: 0;
}

.table th {
  font-weight: 400;
  padding: 15px 12px;
  color: #fff;
  font-size: .75rem;
  cursor: pointer;
  background-color: #1b5891;
  font-size: 14px;
}

.table tbody tr {
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.table tbody tr td {
  min-width: 30px;
  padding: 10px 12px;
  border-bottom: 1px solid var(--color-border-1);
  font-size: 14px;
}

.table tbody tr td:first-child {
  padding: 10px 12px;
}

.table tbody tr td:last-child {
  text-align: center;
}

.table tbody tr td button {
  padding: 4px 10px;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--color-bg-5);
  border: none;
  color: var(--color-solid-white);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.table tbody tr:hover td {
  background-color: var(--color-bg-1);
}

.table.best_table th:not(:nth-child(1)) {
  text-align: right;
}

.table.best_table th:nth-child(2) {
  text-align: center;
}

.table.best_table tbody td {
  font-weight: 500;
}

.table.best_table tbody td:not(:nth-child(1)) {
  text-align: right;
}

.table.best_table tbody td:nth-child(2) {
  text-align: center;
}
/*# sourceMappingURL=mystyle.css.map */